# General
*.zip
*.docx
*.pdf
*.pages
*.numbers
*.mdj
*.xmind
.DS_Store
launch.json

# Critical Thinking Assignmantes
CT\ 1/test.jpg
CT\ 1/Screenshot\ of\ Program\ Output.png

CT\ 2/hpo/
CT\ 2/*.png

CT\ 3/screenshots

CT\ 4/Screenshots

CT\ 5/__pycache__
CT\ 5/screenshots
CT\ 5/eval.py
CT\ 5/*.csv

CT\ 6/Graphs
CT\ 6/*.png

# Portfolio Milestone
Portfolio\ Project/Milestone/faces/tmp
Portfolio\ Project/Final/*.png
!Portfolio\ Project/Final/Program_Analysis.pdf
!Portfolio\ Project/Final/GAN_Paper.pdf

