# General
*.zip
*.docx
*.pdf
*.pages
.DS_Store
launch.json

# Critical Thinking Assignmantes
CT\ 1/test.jpg
CT\ 1/Screenshot\ of\ Program\ Output.png

CT\ 2/hpo/
CT\ 2/*.png

CT\ 3/screenshots

# Portfolio Milestone
Portfolio\ Project/Milestone/faces/tmp
